{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-curly-spacing": [2, {"when": "always", "children": true}]
  }
}
